@import "../../styles/_variables";

.container {
  display: grid;
  grid-template-columns: 3fr 7rem;
  justify-content: space-between;
  align-items: flex-end;

  .grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 1rem;
    flex-grow: 1;
  }
  .legend {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1.2rem;
    text-transform: uppercase;

    & > .grid2 {
      border-left: 1px solid $blackColor;
      padding: 1rem 0 1rem 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5rem;
      row-gap: 1rem;
      font-weight: 100;
      font-size: 0.75rem;
    }
  }
}

.tagCard {
  position: relative;
  align-items: center;
  padding-top: 1rem;

  button {
    border: none;
    background-color: $whiteColor;
    color: $lightGrayColor;
    font-size: 1.1rem;
    font-weight: 100;
    display: inline-block;
    transition: all 0.3s;

    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 2px;
      background-color: transparent;
      vertical-align: middle;
      transition: all 0.3s;
    }

    &:hover {
      cursor: pointer;
    }
  }

  button.current {
    color: $blackColor;
    font-weight: 700;
    &::before {
      background-color: $primaryColor;
      margin-right: 0.5rem;
    }
  }
}

@media only screen and (max-width: 980px) {
  .container {
    grid-template-columns: auto;
    .legend {
      margin-top: 1rem;
    }
  }
}
