@import "./variables";

.container {
  // TextWrapper
  .text {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 120%;
    max-width: 75%;
    margin: 20px auto;
    padding: 8rem 0 0 0;

    p {
      margin: 0;
    }

    p:last-child {
      color: $primaryColor;
    }
  }

  //Tags Wrapper
  .tags {
    max-width: 75%;
    margin: 20px auto;
    padding: 20px;
  }

  //Works Wrapper
  .workResults {
    // background-color: rgb(223, 181, 223);
  }
}

@media only screen and (max-width: 960px) {
  .container {
    .text {
      font-size: 60px;
      line-height: 100%;
      max-width: 90%;
    }

    .tags {
      max-width: 90%;
    }
  }
}
