@import "./variables";

.container {
  // TextWrapper
  .text {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 120%;
    max-width: 75%;
    margin: 20px auto;
    padding: 8rem 0 0 0;
    animation: slide 1.3s cubic-bezier(0.2, 1, 0.3, 1) backwards;
    transition: all 1.3s;
    position: relative;

    p {
      margin: 0;
    }

    p:last-child {
      color: $primaryColor;
    }
  }

  //Tags Wrapper
  .tags {
    max-width: 75%;
    margin: 30px auto;
    animation: slide 1.3s cubic-bezier(0.2, 1, 0.3, 1) backwards;
    transition: all 1.3s;
    position: relative;
  }

  @keyframes slide {
    0% {
      top: 5rem;
      opacity: 0;
      visibility: hidden;
    }
    100% {
      top: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 960px) {
  .container {
    .text {
      font-size: 60px;
      line-height: 100%;
      max-width: 90%;
    }

    .tags {
      max-width: 90%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .text {
      padding: 8rem 0 4rem 0;
    }
    .tags {
      display: none;
    }
  }
}
